<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Smith.ImageConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="ImageConvertor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<Smith.ImageConverter.Properties.Settings>
   <setting name="SearchSub" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CheckSize" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DeleteSource" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DoCompress" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="WiseSideLength" serializeAs="String">
    <value>640</value>
   </setting>
   <setting name="CustomizeWidth" serializeAs="String">
    <value>640</value>
   </setting>
   <setting name="CustomizeHeight" serializeAs="String">
    <value>480</value>
   </setting>
   <setting name="SideLength" serializeAs="String">
    <value>640</value>
   </setting>
   <setting name="RenameSeed" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="ResizePercentage" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="CompressQuarity" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="OutputDirectory" serializeAs="String">
    <value />
   </setting>
   <setting name="RenamePrefix" serializeAs="String">
    <value>Img_</value>
   </setting>
   <setting name="RenameSuffix" serializeAs="String">
    <value />
   </setting>
   <setting name="RenameDigit" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="OutputOption" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ResizeOption" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="RenameOption" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ResampleOption" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="RotationFilter" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="RotationAngel" serializeAs="String">
    <value>90</value>
   </setting>
   <setting name="ConvertType" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="SelectedSide" serializeAs="String">
    <value>0</value>
   </setting>
  </Smith.ImageConverter.Properties.Settings>
		<ImageConvertor.Properties.Settings>
			<setting name="SearchSub" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="CheckSize" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="OriginalSize" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="WiseAdjust" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="SideAdjust" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="CustomizeAdjust" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="PercentageAdjust" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="OutputInOriginal" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="OutputInDirectory" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="CoverOriginal" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="CreateNotExisted" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="DeleteConveted" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="OriginalName" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="DoCompress" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="WiseSideLength" serializeAs="String">
				<value>640</value>
			</setting>
			<setting name="CustomizeWidth" serializeAs="String">
				<value>640</value>
			</setting>
			<setting name="CustomizeHeight" serializeAs="String">
				<value>480</value>
			</setting>
			<setting name="SideLength" serializeAs="String">
				<value>640</value>
			</setting>
			<setting name="RenameBeginNumber" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="ResizePercentage" serializeAs="String">
				<value>50</value>
			</setting>
			<setting name="CompressPercentage" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="AdjustSide" serializeAs="String">
				<value>Width</value>
			</setting>
			<setting name="OutputDirectory" serializeAs="String">
				<value/>
			</setting>
			<setting name="RenamePrefix" serializeAs="String">
				<value>Img_</value>
			</setting>
			<setting name="RenameAnnotation" serializeAs="String">
				<value/>
			</setting>
			<setting name="RenameExtension" serializeAs="String">
				<value>.jpg</value>
			</setting>
			<setting name="ShowReport" serializeAs="String">
				<value>False</value>
			</setting>
		</ImageConvertor.Properties.Settings>
	</userSettings>
	<startup/></configuration>
